h2{
    color: white;
    text-align: center;
    margin-top: 0;
}

.student-detail {
    align-items: center;
    background-color: rgb(58, 58, 58);
    color: white;
    list-style-type: none;
    padding: 16px;
  }

.student-detail2{
  display: flex;
  margin: auto;
  flex-direction: column;
  }

  input{
    width: 95%;
  }

  .save {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: auto;
    margin-top: 20px;
    background-color: black;
    color: gold;
    border-radius: 5px;
    width: 100px;
  }